<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="cs">
<head>
    <link th:href = "@{/bootstrap.min.css}" rel="stylesheet">
    <title>MyBank header</title>
</head>
<body>
<!--&lt;!&ndash;            <ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
<!--&lt;!&ndash;                <li th:if="${#authorization.expression('!isAuthenticated()')}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="/signin" th:href="@{/signin}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li th:if="${#authorization.expression('isAuthenticated()')}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">&ndash;&gt;-->
<!--&lt;!&ndash;                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout&ndash;&gt;-->
<!--&lt;!&ndash;                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</nav>-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" th:fragment="header">
    <div class="container-md">
        <a class="navbar-brand" href="#">MyBank</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:classappend="${module == 'home' ? 'active':''}" href="/">Home</a>
                <a class="nav-link" th:classappend="${module == 'about' ? 'active':''}" href="/about">About</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>